

.navbar-web{
    display:flex;
    left:0;
    height: 100%;
    width:100%;
    position:fixed;
    justify-content: space-between;
}

.navbar-vertical{
    display:block;
    position: sticky;
    bottom:0;
    width: 15%;
    background-color: white;
    border-right: 1px solid rgba(115,115,155,0.5);
    
}

.row-items{
    display:flex;
    flex-direction: row;
}

.row-items button{
    height: 100%;
    white-space: nowrap;
    margin-right: 30%;
}


.navbar-vertical-closed button{
    display:flex;
    flex-direction:row;
    padding:18px;
    justify-content: left;
    text-align:left;
    border: 0px;
    width:100%;
    background-color: white;
}

.navbar-vertical button:hover{
    border: 0px;
    background-color: rgb(214, 212, 212);
}

.navbar-horizontal-container{
    position:sticky;
}
.navbar-horizontal{
    display: flex;
    position:static;
    justify-content: center;
    align-items: center;
    width:100%;
    flex-direction: row;
    background-color: white;
    border-bottom: 1px solid rgba(115,115,155,0.5);
    height:40px;
}

.navbar-horizontal p{
    margin-right:auto;
    margin-left:0%;
    margin-right:120%;
    margin-top:0.5%;
    font-weight: bold;
}

.navbar-horizontal button{
    background-color: white;
    border: 0px;
    margin-right:5%;
}

.navbar-horizontal button:hover{
    border: 0px;
    background-color: rgb(214, 212, 212);
}
@media (max-height: 750px) {

}

@media (min-height: 751px) {
    .navbar-horizontal{
        display: flex;
        position:static;
        justify-content: center;
        align-items: center;
        width:100%;
        flex-direction: row;
        background-color: white;
        border-bottom: 1px solid rgba(115,115,155,0.5);
        height:40px;
    }

    .navbar-horizontal p{
        margin-right:auto;
        margin-left:5%;
        margin-right:50%;
        margin-top:0.5%;
        font-weight: bold;
    }

    

    .navbar-horizontal button{
        background-color: white;
        border: 0px;
        margin-right:5%;
    }
    
    .navbar-horizontal button:hover{
        border: 0px;
        background-color: rgb(214, 212, 212);
    }

    
}


@media (min-width:951px) {
    .navbar-vertical{
        display:block;
        position: sticky;
        bottom:0;
        width: 14%;
        background-color: white;
        border-right: 1px solid rgba(115,115,155,0.5);
    }
    
    .button-small-navbar{
        display: none;
    }

    .button-small-navbar-open{
        display: none;
    }
    .navbar-vertical-closed{
        display:block;
        position: sticky;
        bottom:0;
        width:70px;
        background-color: white;
        border-right: 1px solid rgba(115,115,155,0.5);
    }
    
    .navbar-vertical-closed p{ 
        padding-left: 10px;
        display: none;
    }

    .navbar-right-items{
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .navbar-vertical p{ 
        padding-left: 10px;
        display: block;
    }
    
    .navbar-vertical button:first-child{
        display:flex;
        flex-direction:row;
        padding:18px;
        padding-top:20px;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        background-color: white;
    }
    
    .navbar-vertical button{
        display:flex;
        flex-direction:row;
        padding:18px;
        padding-top:30px;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        background-color: white;
    }
}
@media (max-width: 950px) {
    .navbar-vertical{
        display:block;
        position: sticky;
        bottom:0;
        width: 80px;
        background-color: white;
        border-right: 1px solid rgba(115,115,155,0.5);
    }
    
    
    .button-small-navbar{
        display: none;
    }

    .button-small-navbar-open{
        display: block;
    }

    .navbar-vertical-closed{
        display:none;
        position: sticky;
        bottom:0;
        width: 80px;
        background-color: white;
        border-right: 1px solid rgba(115,115,155,0.5);
    }

     
    .navbar-vertical-closed p{ 
        padding-left: 10px;
        display: none;
    }
    
    .navbar-right-items{
        flex-grow: 1;
        overflow-y: auto;
    }
    
    .navbar-vertical p{ 
        padding-left: 10px;
        display: none;
    }
    
    .navbar-vertical button:first-child{
        display:flex;
        flex-direction:row;
        padding:18px;
        padding-top:20px;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        background-color: white;
    }
    
    .navbar-vertical button{
        display:flex;
        flex-direction:row;
        padding:18px;
        padding-top:30px;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        background-color: white;
    }
}