
.row-items{
    display:flex;
    flex-direction: row;
}
 
.row-items button{
    height: 100%;
    white-space: nowrap;
    margin-right: 30%;
    padding-bottom: 15%;
}

    .navbar-web{
        font-family: 'Nunito', sans-serif;
        display:flex;
        flex-direction: column;
        left:0;
        height: min-content;
        width:100%;
        position:fixed;
        justify-content: space-between;
    }
    
    .general-navbar-vertical{
        display:flex;
        flex-direction: row;
        background-color: white;
        justify-content: space-around;
    }

    .navbar-vertical{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 12px;
        padding-top:12px;
        border-bottom: 1px solid rgba(115,115,155,0.5);
        width:100%;
        position: sticky;
        z-index:7;
        padding-right: 20px;
        top:0;
    }

    .navbar-vertical-hidden{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        padding-left: 12px;
        padding-top:12px;
        border-bottom: 1px solid rgba(115,115,155,0.5);
        width:100%;
        position: sticky;
        z-index:7;
        padding-right: 20px;
        top:0;
    }
      
    .navbar-button-selected {
        display:flex;
        --webkit-appearance:none;
        flex-direction:row;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        background-color: white;
        color: grey;
        font-weight: bold;
    }
    .navbar-vertical-closed p{ 
        padding-left: 10px;
        display: none;
    }

    .navbar-right-items{
        flex-grow: 1;
        height: 100vh; 
        overflow-y: auto;
        padding-bottom: 100px;
        background-color:white;
    }
    
    .navbar-vertical p{
        display: block;
        padding:8px;
        border-radius: 10px;
        border: 2px solid white;
    }

    
    .navbar-vertical button{
        display:flex;
        --webkit-appearance:none;
        flex-direction:row;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        padding-left: 30px;
        background-color: white;
        color: grey;
        font-weight: bold;
    }

    .navbar-vertical-hidden button{
        display:flex;
        --webkit-appearance:none;
        flex-direction:row;
        justify-content: left;
        text-align:left;
        border: 0px;
        width:100%;
        padding-left: 30px;
        background-color: white;
        color: grey;
        font-weight: bold;
    }

    .navbar-menu-selector{
        height: max-content;
        padding:2%;
        background-color: rgb(244, 242, 242);
        border:0px;
        border-bottom: 1px solid grey;
        width:100%;
        font-weight: bold;
    }

@media (min-width: 951px) {
    .navbar-menu-selector{
        display: none;
    }
}

@media (max-width: 950px) {
    

    .navbar-menu-selector{
        display: block;
    }
    
    .general-navbar-vertical{
        display:flex;
        flex-direction: column;
        background-color: white;
    }

    .navbar-vertical{
        display:flex;
        flex-direction: column;
        background-color: white;
    }

    .navbar-vertical-hidden{
        display:none;
    }

}

.navbar-vertical button:hover p{
    background-color: rgba(192, 217, 248, 0.473);
    color: rgb(18, 114, 198);
}

.navbar-vertical button:focus{
   outline: 0;
}

.navbar-vertical button:focus p{
    border: 2px solid rgb(65, 105, 142);
    background-color: rgba(192, 217, 248, 0.473);
    color: rgb(18, 114, 198);
}

/**/
.navbar-vertical-hidden button:hover p{
    background-color: rgba(192, 217, 248, 0.473);
    color: rgb(18, 114, 198);
}

.navbar-vertical-hidden button:focus{
   outline: 0;
}

.navbar-vertical-hidden button:focus p{
    border: 2px solid rgb(65, 105, 142);
    background-color: rgba(192, 217, 248, 0.473);
    color: rgb(18, 114, 198);
}

/**/
.navbar-vertical-selected-button p{
    background-color: rgba(192, 217, 248, 0.473);
    color: rgb(18, 114, 198);
}

.navbar-vertical button:focus{
   outline: 0;
}

.navbar-vertical-selected-button:focus p{
    border: 2px solid rgb(65, 105, 142);
    background-color: rgba(192, 217, 248, 0.473);
    color: rgb(18, 114, 198);
}

