.rule-creation-steps{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    margin-bottom: 3%;
    margin-left:10%;
    margin-right:10%;
    margin-top:2%;
}
.button-popup-reglas{
    width: 35px;
    height: 35px;
    background-color: rgb(237, 235, 235);
    font-weight: bold;
    border:0;
    border-radius: 50%; /* Makes the button circular */
    color: #000000; /* Text color */
}

.row-steps-container{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.row-steps-item{
    display: flex;
    padding: 3%;
            flex-direction: column; /* Display items in a column */
            align-items: center; /* Center items horizontally */
            justify-content: center; /* Center items vertically */
    
}

.input-regla-container{
    padding: 3%;
    flex-direction: column; /* Display items in a column */
    align-items: center; /* Center items horizontally */
    justify-content: center; /* Center items vertically */
}

.input-regla-container input{
    width:100%;
    padding:1%;
    border: 2px solid rgba(221, 217, 217, 0.708);
    border-radius: 8px;
    margin-bottom: 2%;
    font-size: large;
}

.input-regla-container select{
    width:100%;
    padding:1%;
    background-color: white;
    border: 2px solid rgba(221, 217, 217, 0.708);
    border-radius: 8px;
    margin-bottom: 2%;
    font-size: large;
}

.button-centered-container{
    text-align: center;
    justify-content: space-between;
    display: flex;
    margin-bottom: 10%;
    margin-top: 3%;
}

.create-rule-button {
    border-radius: 50px;
    background-color: var(--azul-crear);
    color: white;
    background-size: cover;
    margin: 5px 0;
    padding-inline: 15px;
    padding-block: 10px;
    font-weight: bold;
    width: max-content;
    font-size: x-large;
    border: 0;
    margin-top: 5%;
}

.create-rule-button:hover {
    background-color: var(--azul-crear-hover);
}

.button-row{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.button-row button{
    background-color: rgb(255, 254, 254);
    border: 10px;
    border: rgb(158, 156, 156);

    padding:2%;
    justify-content: center;
    text-align: center;
    width: 10%;
}

.rules-check-row{
    align-items: left;
    display: flex;
    flex-direction: row;
    text-align: left;
    align-items: left;
    left:0;
}
 
.rules-check-row-column{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 5%;
}
.input-regla-container-button {
	height: fit-content;
	background-color: rgb(97, 180, 243);
	font-weight: bold;
	border: 0;
	border-radius: 100px;
	color: #000000;
	padding: 2%;
}

.input-regla-container-button:hover{
    height: fit-content;
	background-color: rgb(81, 151, 205);
	font-weight: bold;
	border: 0;
	border-radius: 100px;
	color: #000000;
	padding: 2%;

}

.button_reglas_action{
    height: fit-content;
	background-color: var(--azul-crea);
	font-weight: bold;
	border: 2px solid var(--azul-crear-hover);
	border-radius: 100px;
	color: rgb(255, 255, 255);;
	padding: 2%;
}


.button_reglas_back{
    height: fit-content;
	background-color: rgb(255, 255, 255);
	font-weight: bold;
	border: 2px solid rgb(81, 151, 205);;
	border-radius: 100px;
	color: rgb(81, 151, 205);;
	padding: 2%;
}


.button_reglas_back:hover{
    height: fit-content;
	background-color: rgb(208, 209, 210);
	font-weight: bold;
	border: 0;
	border-radius: 100px;
	color: rgb(81, 151, 205);;
	padding: 2%;
}


.rules-check-row input{
    align-items: left;
    text-align: left;
    align-items: left;
    left:0;
    margin: 0;
    padding: 0;
}

@media (min-width: 881px) {
    .reglas-container-right{
        right:0;
        position: absolute;
        border-left: 3px solid grey;
        background-color: rgba(0, 0, 0, 0.144);
        width: 100%;
        display: flex;
    
        z-index: 3;
        top:0;
        height: 100%;
    }
    .content-half{
        width: 40%;
        height:100%;
        right:0;
        left:50%; 
    
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding:2%;
        background-color: rgb(247, 247, 247);
        border-left:3 px black solid;
    }
    
    .content-half-image{
        width: 60%;
        height:100%;
        right:0;
        left:50%;
       
        background-color: rgba(67, 67, 67, 0.025);
        border-left:3 px black solid;
    }

}

@media (max-width: 880px) {
    .reglas-container-right{
        right:0;
        position: fixed;
        border-left: 3px solid grey;
        background-color: rgba(0, 0, 0, 0.144);
        width: 100%;
        display: flex;
        z-index: 3;
        top:30;
        margin-top:5%;
        height:100%;
        bottom: 0;
    }
   .content-half{
        width: 100%;
        height:100%;
        right:0;
        left:0%; 
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        padding:2%;
        background-color: rgb(247, 247, 247);
        border-left:3 px black solid;
    }
    
    .content-half-image{
        width: 0%;
        height:100%;
        right:0;
        left:50%;
        display:none;
        background-color: rgba(67, 67, 67, 0.025);
        border-left:3 px black solid;
    }

}

@media(min-height:620){
    .content-half{
        overflow-y:none;
    }
}

@media(max-height:620){
    .content-half{
        overflow-y:scroll;
    }
}