.master-test{
    width: 100%;
    position:sticky;
    z-index: 15;
    bottom:0;
}

.menu-master-container{
    background-color: rgba(181, 181, 181, 0.7);
    width:100%;
    height:100%;
    position: absolute;
    z-index: 12;
    bottom:0;
    padding:3%;
    align-items: center;
    text-align: center;
}

.sticky-button button:hover {
    transform: scale(1.05); /* Hace que el botón sea un 10% más grande en hover */
}
  

.menu-container h1, h3{
    padding-bottom: 3%;
}
.in-row-container{
    width:100%;
    background-color: rgb(143, 205, 255);
    border-top: 3px solid rgb(23, 77, 139);
    display: inline;
}

.in-row-container p{
    font-weight: bolder;
    font-size: large;
}

.master-test p{
    font-weight: bolder; 
}

.acabar-tarea-btn{
    background-color: var(--azul-cerrar);
    padding: 10px;
    color:white;
    border-radius: 5px;
    font-weight: bolder;
    width:100%;
}

.test-top-menu{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.go-back-button{
    border-radius: 100px; 
    background-color: #dfdfdf;
    color:rgb(0, 0, 0);
    background-size: cover;
    margin: 5px 0;
    border:0;
    padding-inline: 11px;
    margin-left:0%;
    margin-bottom:10px;
    font-weight: bold;
    font-size: x-large;
}

.go-back-button:hover{
    background-color: #f4b14e;
    color: white;
}
.start-button:hover{
    background-color: #d87373;
    color: white;
}
.start-button p{
    margin:5px;
}

.slave-test{
    position: relative;
    z-index: 12;
}

.test-container-task{
        color: white;
        overflow-y: auto;
        height: 60%;
        background: #ffffff;
        padding:14px;
        border-radius: 20px;
        font-size: x-large;
}

@media (min-width:951px) {

    .start-button{
        border-radius: 100px; 
        background-color: #dfdfdf;
        color:rgb(0, 0, 0);
        background-size: cover;
        margin: 5px 0;
        border:0;
        padding-inline: 11px;
        margin-left:0%;
        margin-bottom:10px;
        font-weight: bold;
        font-size: x-large;
    }

    .menu-container{
        background-color: rgb(255, 252, 252);
        border-radius: 9px;
        margin-left: 10%;
        margin-right: 10%;
        margin-bottom: 10%;
        padding:1%;
        align-items: center;
        text-align: left;
        /*box-shadow: 10px 5px #84848491;*/
    }
    
    
.sticky-button {
    position: fixed;
    bottom: 0;
    left: 10%;
    transform: translateX(-50%);
    background-color: #4c84af; 
    padding: 10px;
    text-align: center;
    width: max-content;
    z-index: 1000; 
}

.sticky-button button {
    color: white;
    font-weight: bold;
    background-color: rgb(18, 185, 185);
    border: none;
    padding: 20px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 36px;
    cursor: pointer;
    transition: transform 0.3s ease;
}


}

#h3-final{
    border-top: 0.5px solid grey;
    color:black; 
    font-style:oblique;
    margin-top:2.5%;
    padding-top:10px;
}


@media (max-width:950px) {

    .start-button{
        border-radius: 100px; 
        background-color: #dcdcdc;
        color:rgb(0, 0, 0);
        background-size: cover;
        margin: 5px 0;
        padding-inline: 15px;
        left:10px;
        width:90%;
        font-weight: bold;
        font-size: large;
    }

    .menu-container{
        background-color: rgb(235 235 235);
        border-radius: 9px;
        margin-bottom: 10%;
        margin-bottom: 30%;
        padding:3%;
        height: max-content;
        overflow-y: scroll;
        align-items: center;
        text-align: left;
    }

    
.sticky-button {
    position: fixed;
    bottom: 0;
    left: 10%;
    transform: translateX(-50%);
    background-color: #4c84af;
    padding: 5px;
    text-align: center;
    width: max-content;
    z-index: 1000;
}

.sticky-button button {
    color: white;
    font-weight: bold;
    background-color: rgb(18, 185, 185);
    border: none;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

}
