.user-welcome-box{
    width:100%;
    background-color:rgb(246, 246, 246);
    border-bottom: 1px solid rgb(177, 176, 176);
}

.user-welcome-box-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.buttons-container{

    align-items: center;
    text-align: center;
}

.buttons-container button{
    width: 50%;
    margin-bottom: 10px;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}


.user-welcome-box-container-button{
    border-radius: 10px;
	background-color: #4361ee;
	color: white;
	background-size: cover;
	margin: 5px 0;
    margin-top: 40px;
    margin-right:50px;
	padding-inline: 25px;
	padding-block: 15px;
	font-weight: bold;
	border: 0;
}

.user-welcome-box-container-button:hover{
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.edit-button{
    border-radius: 10px;
	background-color: #4361ee;
	color: white;
	background-size: cover;
	font-weight: bold;
    margin-top: 10px;
	border: 0;
}

.edit-button:hover{
    background-color: #2b409f;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}


.rm-button{
    border-radius: 10px;
	background-color: #ee4343;
	color: white;
	background-size: cover;
    padding:5px;
	font-weight: bold;
    margin-top: 10px;
	border: 0;
}

.rm-button:hover{
    background-color: #9f2b2b;
    transition: transform 0.3s ease-in-out;
    transform: scale(1.1);
}

.user-welcome-box h4{
    color:black;
    font-size:xx-large;
    font-style: normal;
    font-weight: bold;
    padding-left: 50px;
    padding-top: 40px;
    margin-bottom: 30px;
}

.user-welcome-box h5{
    color:black;
    font-size: large;
    font-style: normal;
    font-weight: bold;
    padding-left: 50px;
    margin-bottom: 20px;
}
/**/
.patient-info-box{
    border:0px;
    margin-top:10px;
    border-radius: 4px;
    background-color:#0E4565;
    height:250px;
    justify-content:space-around;
    padding-right: 5%;
    display: flex;
    flex-direction: row;

}

.patient-profile-image{
    width:200px;
    margin-left:8%;
    margin-top:1.5%;
    height:200px;
}


.options-items-container{
    border:0px;
    align-items: center;
    margin: 0 auto;
    padding-top:4%;
    text-align: center;
    border-radius: 4px;
    background-color: white;
    color:black;
}

.options-items-container-inner{
    padding-left:10%;
    padding-right:10%;
    padding-top:3%;
    padding-bottom: 5%;
}

.top-index-container{
    background-color: #edf4fb;
    color:#0c1e5b;
}


.flex-text-row{
    box-shadow: 3px 3px 3px #97ccc4;
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 2px solid #b5dada;
    border-radius: 10px;
    margin: 3%;
}

.right-img-container button{
    border-radius: 10px;
    background-color: #4361ee;
    color: white;
    background-size: cover;
    padding: 2%;
    font-weight: bold;
    border: 0;
    transition: transform 0.3s ease-in-out;
}

.right-img-container button:hover{
    transform: scale(1.1);
    transition: transform 0.3s ease-in-out;
} 

@media (min-width: 1151px) {

    .img-container{
        display: flex;
        text-align: center;
        height: max-content;
        margin-top:1%;
        margin-left: 10%;
        margin-right: 10%;
        background-color: white;
        border-radius: 4%;
        text-align:center;
        margin-bottom:2%;

     }
  
     .left-img-container{
        display:block;
        flex: 1; 
        background-image: url("https://www.pomodoro.ovh/images/paciente.png");
        backdrop-filter: blur(15px);
        background-size:cover;
        border-top-left-radius: 6px;
        border-bottom-left-radius: 6px;
        border-radius: 2px;
        padding: 10px;
     }
  
     .right-img-container{
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        flex: 1; 
        color:black;
        padding: 4%;
        background-color: rgb(255, 255, 255);
        font-weight: normal;
        padding-bottom: 10%;
     }
     .right-img-container input{
        width: 100%;
        margin-bottom: 8%;
    }
    
    .right-img-container h3{
        margin-bottom: 5%;
        font-weight: bold;
    }
    .right-img-container textarea{
        width: 100%;
        margin-bottom: 4%;
    }
     
    .text-therapies-info{
        justify-content: left;
        text-align: left;
        align-items: left;
        margin-left: 2%;
    }

    .text-therapies-info p{
        font-size: large;
        padding-left: 20px;
        padding-top: 15px;
    }

    .text-therapies-info h1{
        font-size: xx-large;
    }

    .text-therapies-info h2{
        font-size: x-large;
    }


    .table-items-options{
        border-collapse: collapse;
        width:100%;
    }

    .table-items-options tr:first-child th{
        border:0;
        font-size:medium;
        text-align: center;
        vertical-align: middle;
    }

    .table-items-options td{
        font-size:medium;
        text-align: center;
        vertical-align: middle;
        border-color: rgb(180, 180, 180);
        border-left:0;
        border-right:0;
        border-top:0;
        border-bottom: 1px solid rgba(128, 128, 128, 0.384);
        padding:2px;
    }

    .table-hide-show-container{
        padding-left:10%;
        padding-right:10%;
        padding-bottom: 5%;
    }

    .hide-if-width-small{
    }

    .title-div-home{
    }
    
    .title-div-home h1{
        font-size:3.5em;
        font-weight: bolder;
        padding-bottom: 3%;
        color:rgb(4, 14, 117); 
    }
    
    .title-div-home h4{
        font-style: oblique;
        color:rgb(4, 14, 117); 
    }
    
    .text-div-home{
        text-align: left;
        padding-right:5%; 
        text-align: justify;
        text-justify: inter-word;
        padding-bottom: 15%;
    }
    
    .text-div-home p{
        -webkit-text-size-adjust: none;
        text-size-adjust: none;
        font-size:medium;
        font-weight: lighter;
        text-align: justify;
        text-justify: inter-word;
        color:black; 
    }
    
    .text-div-home ul{
        padding-top:2%;
        padding-left:20%;
        padding-right:15%; 
        font-size:medium;
        text-align: justify;
        justify-content: center;
        text-justify: inter-word;
        color:black; 
    }
    
    .home-welcome-box{
        display:flex;
        flex-direction: row;
        border:0px;
        margin-top:10px;
        justify-content:left;
        width:60%;
        border-radius: 4px;
        height:50px;
        padding-left: 30px;
    }

    .left-option{
        display:flex;
        flex-direction: row;
        margin-right: 50px;
        border:0px;
        margin-top:10px;
        justify-content:right;
        width:60%;
        border-radius: 4px;
        height:50px;
        padding-left: 30px;
    }
    
    .home-welcome-box-btn{
        border:0px;
        background: 0;
        color:rgb(0, 0, 0);
        font-weight: bold;
        bottom:0;
        padding-right: 3px;
        padding-left: 3px;    
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .home-welcome-box-input {
        height: 60%;
        margin-top: 10;
        margin-right: 50px;
        left: 0;
    }

    .home-welcome-box-btn:hover{
        background: 0;
        color: rgb(18, 114, 198);    
    }
    
    .home-welcome-box-btn-selected{
        border:0px;
        margin-top: 5px;
        color: rgb(18, 114, 198);        
        font-weight: bold;
        background: 0;
        padding-right: 3px;
        padding-left: 3px;
        border-bottom: 2px solid rgb(18, 114, 198);        
        
        margin-left: 2%;
        margin-right: 2%;
    }
    
    .imageHome {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left:7%;
        width: 100%;
      }

      .create-basic-container-home{
        background-color: white;
        padding-left: 10%;
        padding-top: 3%;
        text-align:left;
        margin-bottom:2%;
        padding-right: 10%;
    }

    .imageHomep{
        font-style: oblique;
        font-size: small;
        color:rgb(113, 113, 113);
        margin-left: 38%;
      }

      .user-welcome-box h5{
        display: block;
    }
}

@media (max-width: 1150px) {

    
.user-welcome-box-container-button{
    border-radius: 10px;
	background-color: #4361ee;
	color: white;
	background-size: cover;
	margin: 0px 0;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-right:0px;
	padding-inline: 25px;
	padding-block: 15px;
	font-weight: bold;
	border: 0;
    }

    .user-welcome-box-container{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: left;
        text-align: left;
    }

    .user-welcome-box h4{
        color:black;
        font-size:xx-large;
        font-style: normal;
        font-weight: bold;
        text-align: center;
        padding-top: 40px;
        margin-left: 0;
        margin-bottom: 30px;
    }

    .user-welcome-box h5{
        display: none;
    }

    .img-container{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: min-content;
    }

 .left-img-container{
    display:none;
    flex: 2; 
    background-image: url("https://www.pomodoro.ovh/images/school.png");
    backdrop-filter: blur(15px);
    background-size:auto;
    border-top-left-radius: 6px;
    border-top-left-radius: 6px;
    border-radius: 2px;
    padding: 10px;
 }

 .right-img-container{

    border-radius: 6px;
    flex: 2; 
    color:black;
    background-color: rgb(255, 255, 255);
    padding: 5%;
    font-weight: normal;
 }

 .right-img-container input{
    width: 100%;
    margin-bottom: 8%;
}

.right-img-container h3{
    margin-bottom: 5%;
    font-weight: bold;
}
.right-img-container textarea{
    width: 100%;
    margin-bottom: 4%;
}
    .create-basic-container-home{
        padding-top:5%;
        padding-bottom:3%;
        background-color: white;
        border-radius: 10px;
        text-align:center;
        margin-bottom:2%;
    }

    .patient-info-box{
        border:0px;
        margin-top:10px;
        border-radius: 4px;
        background-color:#0E4565;
        height:250px;
        justify-content:space-between;
        display: flex;
        flex-direction: row;
    
    }
    
    .patient-profile-image{
        width:50px;
        margin-left:8%;
        margin-top:1.5%;
        height:50px;
    }

    .options-items-container{
        border:0px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        padding-top:4%;
        text-align: center;
        border-radius: 4px;
        background-color: white;
    }

    .table-items-options{
        border-collapse: collapse;
        width:100%;
        justify-content: center;
        text-align: center;
    }

    .table-items-options tr:first-child th{
        border:0;
        font-size:small;
    }

    .table-items-options td{
        font-size:small;
        border-color: rgb(180, 180, 180);
        border-left:0;
        border-right:0;
        border-top:0;
    }

    .table-hide-show-container{
        padding-left:10%;
        padding-right:10%;
        padding-top:3%;
        padding-bottom: 5%;
    }

    .hide-if-width-small{
        display:none;
    }

    .title-div-home{
    }

    .title-div-home h1{
        font-size:150%;
        font-weight: bolder;
        padding-bottom: 3%;
        color:rgb(4, 14, 117); 
    }

    .title-div-home h4{
        font-size:120%;
        font-style: oblique;
        color:rgb(4, 14, 117); 
    }

    .text-div-home{
        text-align: left;
        padding-right:5%; 
        padding-left:5%; 
        text-align: justify;
        text-justify: inter-word;
        overflow-y: scroll;
    }

    .text-div-home p{
        
        font-size:medium;
        font-weight: lighter;
        text-align: justify;
        text-justify: inter-word;
        color:black; 
    }

    .text-div-home ul{
        padding-top:2%;
        font-size:medium;
        text-align: justify;
        justify-content: center;
        text-justify: inter-word;
        color:black; 
    }

    .home-welcome-box{
        display:flex;
        flex-direction: column;
        border:0px;
        margin-top:10px;
        justify-content:left;
        text-align: left;
        width:100%;
        border-radius: 4px;
    }
    
    .home-welcome-box-btn{
        border:0px;
        background: 0;
        color:rgb(0, 0, 0);
        font-weight: bold;
        bottom:0;
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .home-welcome-box-input {
        height: 60%;
        margin-top: 10;
        left: 0;
    }
    .home-welcome-box-btn:hover{
        background: 0;
        color: rgb(18, 114, 198);    
    }
    
    .home-welcome-box-btn-selected{
        border:0px;
        margin-top: 5px;
        color: rgb(18, 114, 198);        
        font-weight: bold;
        background: 0;
        border-left: 2px solid rgb(18, 114, 198);        
        border-right: 2px solid rgb(18, 114, 198);        
        margin-bottom: 2%;
        margin-top: 2%;
    }
    
    .imageHome {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-left:7%;
        width: 100%;
    }
    .imageHomep{
        font-style: oblique;
        font-size: small;
        color:rgb(113, 113, 113);
        margin-left: 10%;
    }
    .user-welcome-box{
        padding-bottom: 10px;
    }
}

.home-welcome-box-btn:focus{
    outline: 0;
 }

 
.home-welcome-box-btn-selected:focus{
    outline: 0;
 }