 .rules-creator-contailer-all{
    border-top: 1px solid black;
    border-radius: 4%;
    border-bottom: 1px solid black;
    padding: 10px;
    padding-bottom: 30px;
 }

 .rule-form-space{
    display: flex;
    align-items: left;
    flex-direction: column;
   
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid rgb(5, 64, 77);
  }
  
  .rule-form-space-input{
    padding: 5px;
    align-items: left;
  }

  .rule-form-multiple-space{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content:center;
    padding: 10px;
    margin: 10px;
    border-bottom: 2px solid rgb(5, 64, 77);
  }

  .rule-inside-inputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .condiciones-container{
    overflow-y: auto;
    max-width: 1000px;
    max-height: 150px; 
    padding: 3px;
    margin: 3px;
    border-top: 1px solid rgb(85, 198, 223);
    border-bottom: 1px solid rgb(85, 198, 223);
  }

  .condiciones-container > *{
    margin: 3px;
    padding: 4px; 
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .condicion-elementos-container > *{
    height: 30px;
    margin: 10px;
  }

  .accion-container{
    overflow-y: auto;
    max-height: 150px; 
    padding: 25px;
    margin: 10px;
    border-top: 1px solid rgb(85, 198, 223);
    border-bottom: 1px solid rgb(85, 198, 223);
 
  }

  .rules-creator-contailer-all button{
    display: block;
    border: none;
    border-radius: 10px;
    background-color: var( --container-session-show-color);
    margin: 5px 0;
    padding-inline: 15px;
    padding-block: 5px;
    font-weight: bold;
    color:black;
    transition: transform 200ms ease-in-out;
  }

 
 .rules-creator-contailer-all button:hover{
    color:white;
    transform: scale(1.05);
    background-color: var(--container-create-border-color);
 }