
.therapy-name-container{
    align-items: right;
    justify-content: center;
    text-align: center;
    align-self: center;
    padding:10px;

}

.therapy-name-container input{
    align-items: center;
    justify-content: center;
    align-self: center;
    border: 1px solid rgb(117, 117, 117);
    border-radius: 30px;
    width: 40%;
    padding:10px;

}

.popup{
    cursor: pointer;
    margin:auto;
    padding:10px;
    position:absolute;
    right:90%;
    top:0%;
}

.popup .popuptext{
    visibility: hidden;
    width: 80%;
    margin:auto;
    background-color: #ffffff;
    border: 3px black;
    padding:10px;
    color:#131212;
    border-style:solid;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0; 
    position: fixed;
    z-index: 1;
}

.popup .popuptext::after{
    content:"";
    position:fixed;
    margin-left: 25%;
    border-width: 10px;
    border-style:solid;
    border-color: #555 transparent transparent transparent;
}

.popup .show{
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn{
    from {opacity: 0;}
    to {opacity: 1;}
}

@keyframes fadeIn{
    from{opacity:0;}
    to{opacity:1;}
}

.close-popup-button{
    justify-content: right;
}

.rule-list-container{
    display:block;
    align-items: right;
    overflow-x:hidden;
    overflow-y:auto;
    height:300px;
    padding: 10px;
    margin: 10px, 4px;
    border-bottom: 2px solid rgb(5, 64, 77);
}

.rule-show-select-button{
    display: flex;
    align-items:center;
    flex-direction: row;

}