@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Protest+Riot&display=swap');

:root {
    --color-botones: #007bff;
    --color-tranparente: rgba(0,0,0,0);
    --ancho-borde: 2px;
    --familia-fuente-poppins: 'Poppins', sans-serif !important;

    --color-primary-white: rgb(253, 247, 239); 
    --color-primary-blue: #74809A;
    --color-primary-grey: #676168;
    --color-primary-black: #494848;
    --color-primary-light-blue: #7CA4D9;
    --color-primary-dark-blue: #6276A5;
    --color-primary-brown: #f2e3c4;
    --color-primary-hover-brown: #decdab;
    --color-primary-red: #BA4E4E;
    
    --color-secondary-white: #FFFAF4;
    --color-secondary-grey: #faf8f0;
    --color-secondary-black:rgb(98, 98, 96)0;
    --color-secondary-brown: #F4EEE1;
    --color-secondary-hover-brown: #e3ddd0;

    --color-button-terciary-blue: #c0cae0;
    --color-button-terciary-light-blue: #e3eaf0;
    --color-button-terciary-grey: rgba(196, 209, 221);
    --color-button-terciary-black: rgb(189, 192, 194);

  }

.body{
  font-family: 'Poppins', sans-serif !important;
  font-weight: 400;
  font-style: normal;
}