  #calendar {
    font-family: Arial, sans-serif;
  }
  #calendar table {
    width: 100%;
    border-collapse: collapse;
  }
  #calendar th,
  #calendar td {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: end;
  }

  .calendar-selected {
    padding: 10px;
    border: 1px solid var(--color-button-terciary-light-blue) !important;
    background-color: var(--color-button-terciary-light-blue) !important;
    text-align: end;
  }
  .button-container-change-month{
    padding-left:20px;
  }
  .button-change-month{
    background-color: var(--color-primary-brown);
    border:0;
    width:25px;
    border-radius: 100%;
    font-size: larger;
    height: 25px;
    margin-left: 10px;
  }

  .button-add-session-month{
    background-color: var(--color-button-terciary-blue);
    border:0;
    width:25px;
    border-radius: 100%;
    font-size: larger;
    height: 25px;
    margin-left: 10px;
  }

  .button-change-month:hover{
    background-color: var(--color-secondary-hover-brown);
  }
  .button-end-container{
    align-items: end;
    text-align: end;
    width:100%;
  }
  .calendar-button-add{
    background-color: var(--color-primary-brown);
    border:0;
    border-radius: 10px;
    width:60%;
    font-size: larger;
    height: auto;
  }

  .calendar-button-add:hover{
    background-color: var(--color-secondary-hover-brown);
  }

  #calendar b {
    color:black;
  }
  #calendar p {
    color:black;
  }
  #calendar th {
    background-color: var(--color-primary-blue);
    color:white;
  }  
  #calendar td {
    background-color: #ffffff;
    height: 130px;
    vertical-align:top;
  }
  .button-session{
    width: 100%;
    text-align: left;
    background-color:rgb(221, 221, 221);
    border-radius: 2px;
    padding-left: 10px;
  }
  .button-session:hover{
    text-align: left;
    background-color:rgb(185, 185, 185);
    padding-left: 10px;
  }

  .p-current-day{
    background-color: var(--color-primary-blue);
    color:white !important;
    border-radius: 20px;
    padding-right: 10px;
  }