.container-general-patients{
    border-radius: 10px;
    background-color: var(--color-secondary-grey);
    width:95%;
    padding:20px;
    margin-left: auto;
    margin-right: auto;
    height: max-content;
}

.container-inputs-top{
    align-items: center;
    text-align: center;
    
}
.selection-checkbox{
    border:1px solid var(--color-secondary-grey);
    background-color: var(--color-secondary-brown);
    border-radius: 10px;
}

.container-select{
    border:0;
    border-radius: 15px;
    background-color: var(--color-secondary-brown);
    padding:7px;
}
.container-select option{
    border:0;
    border-radius: 25px;
    background-color: var(--color-secondary-white);
    padding:7px;
}

.container-inputs-top button{
    border: 0.3px solid grey;
    background-color: var(--color-primary-dark-blue);
    margin-inline-end: 10px;
    border-radius: 10px;
    padding:7px 8px;
    color:white;
    width: fit-content;
}

.container-inputs-top span{
    font-family: 'Poppins','FontAwesome', sans-serif !important;
}

.table-patients{
    padding-left: 3%;
    padding-right: 3%;
}
.container-input-span{
    border-radius: 10px;
    background-color: var(--color-secondary-brown);
    margin: 1%;
    margin-left: 4%;
    padding:7px 8px;
    padding-left: 10px;
    width: min-content;
    height: min-content;
    text-align: left;
}

.container-input-span input{
    border:0;
    background-color: var(--color-tranparente);
   
}

.container-input-span input:active,
.container-input-span input:focus{
   outline: none;
   border: 0;
   background-color: var(--color-transparente); 
}

.container-filter-align-end{
    right: 0;
    text-align: right;
    align-items: end;
    justify-content: end;
}
