:root{
    --dark-blue-option-color:#0E4565;
    --light-blue-choice-color:#80DED9;
    
    
    
    --navbar-background-color:#bef0ff;
    --background-color: #F5FBFF;
    --container-border-color: #D1D2D2;
    --container-delete-color: #319eb7;
    --container-delete-border-color: #15a9e4;
    --container-create-border-color: rgb(94, 188, 225);
    --container-session-show-color: rgb(138, 204, 230);
    --container-session-selected-color: #5589d2;

    --azul-cerrar: #ff9a5e;
    --azul-crear: #4958D2;
    --azul-guardar:#80A0DE;
    --azul-seleccionar:#556B9D;

    --azul-cerrar-hover: #d37e4d;
    --azul-crear-hover: #2c3683;
    --azul-guardar-hover:#5f76a3;
    --azul-seleccionar-hover:#3a486a;

}

*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Montserrat", sans-serif;
    height: 100%;
    background-color: var(--background-color);
}

