.primary-container { 
  display: flex;
  justify-content:space-around;
  width: 90vw;
  margin-inline: auto;
  margin-block: 20px;
  background-color: white;
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  padding: 30px;
}

.therapy-row-container{
  justify-content: space-between;
  display:flex;
  flex-direction: row;
}
.therapy_right_container{
  width: 50%;
  justify-content:space-evenly;
}

.therapy_right_container input{
  width:20%;
}
.therapy-container {
  width: 40%;
}

.therapy-times-container{
  width:80%;
}
.therapy-container-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.vertical-line {
  border: 1px solid var(--container-border-color);
  height: inherit;
  margin-inline: 15px;
}

.periods-container {
  width: 70%;
}

.periods-container-header {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 10px;
}

.create-period-container{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 90vw;
  margin-inline: auto;
  margin-block: 20px;
  background-color: white;
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  padding: 30px;
}

.create-period-container-all{
    position: absolute;
    top: 15px;
    left: 15px;
    padding: 5px;
    border: none;
    border-radius: 50%;
    background-color: var(--navbar-background-color);
}
 
.create-period-container-arrowb{
  position: absolute;
  top: 15px;
  left: 55px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: var(--navbar-background-color);
}

.create-period-container-add{
  position: absolute;
  top: 15px;
  right: 15px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: var(--navbar-background-color);
}

.create-period-container-arrowf{
  position: absolute;
  top: 15px;
  right: 55px;
  padding: 5px;
  border: none;
  border-radius: 50%;
  background-color: var(--navbar-background-color);
}

.create-period-container input{
  text-align: center;
  width: 100px;
  margin-inline: auto;
}

.therapy-create-title{
  display: flex;
}

.all-period{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.all-period-button{
  display: block;
  border: none;
  border-radius: 10px;
  background-color: var(--navbar-background-color);
  margin: 5px 0;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: bold;

  transition: transform 200ms ease-in-out;
}
.all-period-button:hover{
  transform: scale(1.05);
}

.reglas-show-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 5px 0;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: bold;
}

.reglas-show-container > *{
  margin: 10px;
  padding: 10px;
}

.therapy-option-button{
  background-color: rgb(150, 212, 253);
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  padding: 10px;
  transition: transform 200ms ease-in-out;
}

.therapy-option-button {
  margin: 0 20px;
  font-size: 17px;
  color:black;
}

.therapy-option-button:hover {
  background-color: rgb(97, 202, 247);
  transform: scale(1.05);
}


.therapy-option-button-selected{
  background-color: rgb(56, 173, 241);
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  transition: transform 200ms ease-in-out;
}

.therapy-option-button-selected{
  text-align: center;
  margin: 0 20px;
  font-size: 17px;
  color:black;
}

.therapy-option-button-selected:hover {
  background-color: rgb(29, 108, 141);
  transform: scale(1.05);
}