.container-therapy{
    padding:15px;
}

 
.container-therapy-information{
    border:1px solid grey;
    padding:25px;
    background-color: var(--color-primary-white);
    border-radius:10px;
}

.container-subtitle{
    margin-left: 20px;
    margin-top: 2%;
}

.container-block-time{
    
}

.button-select-period{
    background-color: var(--color-primary-light-blue) !important;
    border: 0px !important;
    border-radius: 10px !important;
    color:white !important;
    width:50px !important;
}