.container-therapy{
    padding:15px;
}


.container-therapy-information{
    border:1px solid grey;
    padding:15px;
    border-radius:10px;
}

.container-subtitle{
    margin-left: 20px;
    margin-top: 2%;
}

.container-block-time{
    
}