
span{
    font-family: 'Poppins','FontAwesome', sans-serif !important;
}
  
.container-inputs{
    padding-left: 5%;
}

.text-description{
    font-style: italic;
    margin-left: 2%;
}

.container-periods{
    border: 1px solid grey;
    margin-left: 2%;
    border-radius: 10px;
    padding:10px;
}

.container-inner-periods{
    padding: 20px;
}

.container-block{
    border:1px solid black;
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
}

.container-block input{
    border:1px solid rgb(203, 203, 203);
}

.container-block #button-move{
    border:0;
    background-color: var(--color-transparente);
}

.container-block #button-edit{

    width:30%;
    border:1px solid rgb(1, 150, 138);
    border-radius: 10px;
    background-color: var(--color-transparente);
}

.container-block #button-delete{
    
    width:30%;
    border:1px solid rgb(150, 1, 1);
    border-radius: 10px;
    background-color: var(--color-transparente);
}

.container-align-end{
    width:100%;
    text-align: end;
    justify-content: end;
}

.container-padding{
    padding-left: 20px;
}

.container-conditions{
    border: 1px solid grey;
    margin-left: 2%;
    border-radius: 10px;
    padding:10px;
}

.rule-block{
    border:1px solid rgb(0, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin-top: 10px;
    margin:10px;
}

.container-conditions #button-edit{

    width:30%;
    border:1px solid rgb(1, 150, 138);
    border-radius: 10px;
    background-color: var(--color-transparente);
}

.container-conditions #button-delete{
    
    width:30%;
    border:1px solid rgb(150, 1, 1);
    border-radius: 10px;
    background-color: var(--color-transparente);
}


.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 30;
}

.popup-on {
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 60;
}

.popup-content {
    position: absolute;
    top: 50%;
    width:95%;
    height:auto;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
}

.container-condition{
    margin-left: 1%;
}

.container-condition-sensor{
    margin-left: 0%;
}


.container-condition-creator{
    padding: 1%;
}

.container-condition input{
    margin-bottom: 20px;
}

.container-condition textarea{
    margin-bottom: 20px;
}


.container-condition button{
    margin-right: 10px;
    border: 0;
    border-radius: 20px;
}

.container-condition-inner{
    padding-right: 2%;
    font-size: small;
}

.input-group-conditions{
    margin-top: 15px;
}

.input-group-buttons{
    text-align: left;
}


.input-group-buttons{
    text-align: left;
}

.container-buttons button{
    width:60%;
}

.button-selected{
    background-color: rgb(90, 177, 215);
}

.rule-block-checkbox{
    margin-right: 15px;
}

.span-subsection{
    margin-bottom: 10px;
    margin-top: 10px;
}

.container-selected{
    color:black;
    background-color: rgba(255, 255, 255, 0.84);
}


.container-selected button{
    color:black;  
    background-color: rgba(173, 173, 173, 0.84);

}

.container-deselected{
    background-color: rgba(173, 173, 173, 0.84);
}
.container-deselected p{
    color:black;    
}

.container-deselected div{
    color:grey;    
}

.container-deselected button{
    color:rgb(91, 91, 91);    
    background-color: rgba(173, 173, 173, 0.84);
}
