

.all-patient-button {
  display: flex; 
  flex-direction: row;
  justify-content: space-around;
  background-color: white;
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  align-items: center;
  margin-inline: auto;
  margin-block: 20px;
  padding: 10px;
  transition: transform 200ms ease-in-out;
}

.all-patient-button span {
  flex: 2;
  text-align: center;
  margin: 0 20px;
  font-size: 17px;
  color:black;
}

.all-patient-button:hover {
  background-color: rgb(125, 210, 246);
  transform: scale(1.05);
}
.elements-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
}
.elements-container span {
  font-size: 19px;
  color:black;
  font-weight: bold;
  flex: 1;
  text-align: center;
  margin: 0 10px;
}


  .all-patient-button-delete{
    border: 2px solid var(--container-delete-border-color);
    border-radius: 10px;
    margin: 5px 0;
    padding-inline: 15px;
    padding-block: 5px;
    font-weight: bold;
  
    transition: transform 200ms ease-in-out;
  }
  .all-patient-button-delete:hover{
    color: rgb(250, 248, 248);
    
    background-color: #EF6F6C;
    transform: scale(1.05);
  }

  .all-patient-button-create{
    display: block;
    border: 2px solid #061A40;
    border-radius: 10px;
    background-color: #BEF0FF;
    margin: 5px 0;
    padding-inline: 15px;
    padding-block: 5px;
    font-weight: bold;
    color:black;
    transition: transform 200ms ease-in-out;
  }
  .all-patient-button-create:hover{
    background-color: #15A9E4;
    color:white;
    transform: scale(1.05);
  }

  .session-show-container{
    display: flex;
    flex-direction: column;
  }

  .session-show-container-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 20px;
    border: 1px solid azure;

  }
  .session-show-container-nav>*{
    
    padding: 10px;

  }
  .session-show-container-row{
    display: flex;
    flex-direction: column;
  }

  .session-show-container-row > *{
    padding:5px;
  }
  .session-show-container span{
    display: flex;
    flex-direction: row;
  }

 
  .session-show-container > * {
    margin-right: 25px;
  }

  .sessions-scroll{
    width: 300px; 
    height: 200px; 
    overflow-y: scroll;
  }

  .session-show-button{
    display: block;
    border: none;
    border-radius: 10px;
    background-color: #BEF0FF;
    border: 0.5px solid #5589D2;
    margin: 5px 0;
    padding: 10px;
    padding-inline: 15px;
    padding-block: 5px;
    font-weight: bold;
    color:black;
    transition: transform 200ms ease-in-out;
 }

 .session-show-button:hover{
    color:rgb(0, 0, 0);
    transform: scale(1.05);
    background-color: var(--container-create-border-color);
 }
  .session-filter-button{
    display: block;
    border: none;
    background-color: var(--container-session-show-color);
    border: 0.5px solid #000000;
    margin: 5px 0;
    padding: 10px;
    padding-inline: 15px;
    padding-block: 5px;
    font-weight: bold;
    color:black;
    transition: transform 200ms ease-in-out;
  }
 .terapias-sesiones-show-button{
  display: block;
  border: none;
  border-radius: 10px;
  background-color: #BEF0FF;
  border: 0.5px solid #5589D2;
  margin: 5px 0;
  padding: 10px;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: bold;
  color:black;
  transition: transform 200ms ease-in-out;
}

.terapias-sesiones-show-button-selected{
  display: block;
  border: none;
  border-radius: 10px;
  background-color: #003559;

  margin: 5px 0;
  padding: 10px;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: bold;
  color:white;
  transition: transform 200ms ease-in-out;
}
.terapias-sesiones-show-button:hover{
  color:white;
  transform: scale(1.01);
  background-color: var(--container-create-border-color);
}


 .session-show-button-delete{
    display: block;
    border: none;
    border-radius: 10px;
    background-color:#EF6F6C;
    margin: 5px 0;
    padding-inline: 15px;
    padding-block: 5px;
    font-weight: bold;
  
    transition: transform 200ms ease-in-out;
 }

 .session-show-button-delete:hover{
    transform: scale(1.15);
    background-color: #c75b5a;
 }


 .show-patient-container{
  display: flex;
  justify-content: space-between;
  margin-inline: auto;
  margin-block: 20px;
  background-color: white;
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  padding: 30px;
}
.show-sessions-all-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  margin-inline: auto;
  margin-block: 20px;
  background-color: white;
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  padding: 30px;
}
.info-patient-container{
  display:flex;
  flex-direction: column;
}

.create-patient-container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-inline: auto;
  margin-block: 20px;
  background-color: white;
  border: 2px solid var(--container-border-color);
  border-radius: 20px;
  padding: 30px;
}
.session-elements-container{

    display: flex;
    align-content: center;
    width: 90vw;
    margin-inline: auto;
    margin-block: 20px;
    background-color: white;
    border: 2px solid var(--container-border-color);
    border-radius: 20px;
    padding: 30px;
  
}

.sessions-title-container{
  display: flex;
  flex-direction: row;
  margin: 10px;
  padding-right: 20px;
}

.sessions-title-container>*{
  margin: 10px;
  margin-right: 40px;
  padding-right: 30px;
  text-align:justify;

}

.margin-info-container{
  margin-bottom: 10px;
  text-align:justify;
  padding-bottom: 20px;
}

.margin-info-container>*{
  margin-bottom: 10px;
  text-align:justify;
  padding-bottom: 20px;
}
table {
  border-collapse: collapse;
}

caption {
  font-weight: bold;
  font-size: 24px;
  text-align: left;
  color: #333;
}


th, td {
  border: 1px solid black;
  padding: 8px;
}
.puntos-container{
  padding:10px;
  display: flex;
  flex-direction: column;
}

.puntos-container>*{
  padding:10px;
  display: flex;
  flex-direction: row;
}


.all-patient-button-edit{
  border: 2px solid #c2885a;
  border-radius: 10px;
  margin: 5px 0;
  padding-inline: 15px;
  padding-block: 5px;
  font-weight: bold;

  transition: transform 200ms ease-in-out;
}
.all-patient-button-edit:hover{
  color: rgb(250, 248, 248);
  
  background-color: #F5AC72;
  transform: scale(1.05);
}
